.container {
    width: 300px;
    height: 80vh;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.55);
}

.logo-image {
    height: 83px;
}

.dev {
    height: 9px;
    background-color: #0F35FF;
}

mat-toolbar {
    height: 90px;
    background-color: white;
}

.profileImg {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 27px;
    text-size-adjust: 30px;
}

.bottomCard {
    position: absolute;
    top: 220px;
    left: 65%;
    width: 250px;
    height: 150px;
}

.PageTitle {
    font-size: 54px;
}

.title {
    position: absolute;
    top: 60px;
    left: 22%;
}

.bottomCard2 {
    position: absolute;
    top: 120px;
    left: 65%;
    width: 250px;
    height: 150px;
}

#container {
    visibility: hidden;
}

#loader {
    color: #008cff;
    height: 80px;
    width: 30%;
    position: absolute;
    top: 45%;
    left: 45%;
}

#element {
    display: block;
    height: 350px;
}

#wrapper {
    width: 250px;
    margin: 0 auto;
}

#date_label {
    /* csslint ignore:start */
    display: block;
    width: 248px;
    color: rgba(0, 0, 0, 0.58);
    margin-left: 5px;
    /* csslint ignore:end */
}

.e-highlightweekend {
    background-color: #cfe9f3;
}

ckeditor {
    width: 50%;
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 500px;
}

.container2 {
    width: 100%;
    height: 100vh;
}

.mat-display-2 {
    position: absolute;
    top: 130px;
    left: 350px;
}

.tabs {
    position: absolute;
    top: 230px;
    left: 22%;
    width: 70%;
    height: 100vh;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.containertabs {
    width: 100%;
}