<input matInput placeholder="search" formControlName="Search" class="search">
<button mat-raised-button  class="go" routerLink="edit" routerLinkActive="active">GO</button>
<mat-label class="heading">Research Tools and Guidelines</mat-label>
<mat-label class="sub">welcome to the TUT Research tools page</mat-label>
<img class="steps" src="https://img.freepik.com/free-vector/white-spiral-staircase-with-concrete-steps_107791-2713.jpg?w=2000" alt="steps">
<mat-label class="subh1">Research Key Steps</mat-label>
<mat-label class="step1">1.Topic selection:</mat-label>
<br>

   <mat-label class="content1"> Surprisingly, this is the most creative part of a research project. The subject 
    <br>
    area shall be topical and relevant, and the title must be concise and informative.</mat-label>
    
 
    <br>
    
       <mat-label class="content2"> <mat-label class="step2">2.Literature review and concept development:</mat-label>
        <br>
        <br>
         To write something new, you need to know what has already been written by other scientists. Study the available 
        <br>
        literature on your subject and define what statement or concept you will defend in your research.  
       
        </mat-label>
    