<input matInput placeholder="search" formControlName="Search" class="search">
<button mat-raised-button  class="go" routerLink="" routerLinkActive="active">GO</button>
<mat-label class="heading">Research Tools and Guidelines</mat-label>
<mat-label class="sub">welcome to the TUT Research tools page</mat-label>
<img class="steps" src="https://img.freepik.com/free-vector/white-spiral-staircase-with-concrete-steps_107791-2713.jpg?w=2000" alt="steps">
<mat-label class="subh1">Research Key Steps</mat-label>
<mat-label class="step1">1.Topic selection:</mat-label>
<br>

   <mat-label class="content1"> Surprisingly, this is the most creative part of a research project. The subject 
    <br>
    area shall be topical and relevant, and the title must be concise and informative.</mat-label>
    
 
    <br>
    
       <mat-label class="content2"> <mat-label class="step2">2.Literature review and concept development:</mat-label>
        <br>
        <br>
         To write something new, you need to know what has already been written by other scientists. Study the available 
        <br>
        literature on your subject and define what statement or concept you will defend in your research.  
       
        </mat-label>
        <mat-label class="content3"> <mat-label class="step3">3.Empirical part: data collection and analysis:</mat-label>
        <br>
        <br>
          Accumulate the evidence to support your thesis statement
        <br>
        
       
        </mat-label>
        <mat-label class="content4"> <mat-label class="step4">4.Conclusions and recommendations:</mat-label>
        <br>
        <br>
        Any research finishes with generalizations of the findings. You can as well give general suggestions for your 
        
        <br>
        successors in research.At this step, online summarizer would be a highly effective tool.
       
        </mat-label>
        <mat-table  [dataSource]="dataSource" class="table">
         <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Description</th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </mat-table>
    