<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-drawer-container class="container">
    <mat-sidenav class="container" opened="true">
        <mat-nav-list>
            <div style="background-color: rgb(225, 225, 225);">
                <a mat-list-item>
                    <span> <mat-icon class="homeIcon">home</mat-icon></span>Home</a>
                <mat-divider></mat-divider>
            </div>

            <a mat-list-item routerLink="/projects">
                <mat-icon> attach_file</mat-icon>
                Projects</a>
            <mat-divider></mat-divider>
            <a mat-list-item>
                <mat-icon>work</mat-icon>Workspace</a>
            <mat-divider></mat-divider>
            <a mat-list-item>
                <mat-icon>extension</mat-icon>Research tools</a>
            <mat-divider></mat-divider>
            <a mat-list-item>

                <mat-icon> chat</mat-icon>Chatbox</a>
            <mat-divider></mat-divider>

        </mat-nav-list>
    </mat-sidenav>
</mat-drawer-container>
<br/>
<br/>
<br/>
<br/>
<br/>
<!--Dash ends here-->
<mat-card class="profile">
    <img fxFlex="128px" [src]="data && data.image ? data.image: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcgNY4pYkj6KPV2TbqsBw3lYZ9mwkbx_XwjnYSsXunpnLwD1XFXi2Iuf5_zD-u9xsa14c&usqp=CAU'" class="profile-img">


    <button md-button type="button" (click)="ChangingImageclick()" class="u-img">Upload picture</button>
    <div *ngIf="ChangingImage" class="saveimg">
        <input type="file" (change)="fileChangeEvent($event)" />

        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" format="png" (imageCropped)="imageCropped($event)" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>

        <img [src]="croppedImage" />
        <button md-button type="button" (click)="saveNewImage()" class="u-img">Save</button>
    </div>
    <mat-label class="Basic">Basic Information</mat-label>
    <mat-label class="b">
        Name:
        <br>
        <br> Department:
        <br>
        <br> Faculty:

    </mat-label>
    <mat-divider class="d1"></mat-divider>

    <mat-label class="contact">Contact Information</mat-label>
    <mat-label class="c" *ngFor="let student for student">
        User id:
        <p>{{student.userid}}</p>
        <br>
        <br> Email:
        <p>{{student.email}}</p>

    </mat-label>

    <mat-divider class="d2"></mat-divider>
    <mat-label class="project">Project Information</mat-label>
    <mat-label class="p">
        Project Name:
        <br>
        <br> Description:
        <br>
        <br>
        <br>
        <br>
        <br>
        <br> Start Date:
        <br>
        <br> End Date:

    </mat-label>
</mat-card>
<button mat-raised-button class="edit" routerLink="edit" routerLinkActive="active">Edit Information</button>
<button mat-raised-button class="log" routerLink="researchtools" routerLinkActive="active">logout</button>
<li *ngIf="userIsAuthenticated">
    <button mat-button (click)="onLogout()" class="logout">Logout</button>
</li>
