<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="mat-display-3">Sign in</div>
<mat-card>

    <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
        <br/>
        <br/>
        <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdagfNlkCXKS54rDkgY6CjGNtPECsI_SZlKQ&usqp=CAU">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter your name" formControlName="userName">
        </mat-form-field>
        <!--field for password-->
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter your name" formControlName="password">
            <br/>

        </mat-form-field>
        <div>Don't have an account?<a routerLink="/signup">Sign Up</a></div>
        <br/>
        <div>Forgot your password?<a href="">Reset Password</a></div>
        <button color="Red" [disabled]="!loginForm.valid" mat-raised-button type="submit"><span>Submit</span></button>
    </form>
</mat-card>
