<mat-toolbar>
    <a class="navbar-brand" href="">
        <div class="logo-image">
            <img src="../../assets/images/tut-logo1.png" class="img-fluid">
        </div>
    </a>
    <button *ngIf="router.url == '/'" mat-raised-button color="warn" routerLink="/login">Sign in</button>
    <img class="img-responsive" *ngIf="router.url == '/dashboard'" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdagfNlkCXKS54rDkgY6CjGNtPECsI_SZlKQ&usqp=CAU" routerLink="/profile">
    <img class="img-responsive" *ngIf="router.url == '/profile'" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdagfNlkCXKS54rDkgY6CjGNtPECsI_SZlKQ&usqp=CAU" routerLink="/profile">
    <img class="img-responsive" *ngIf="router.url == '/projects'" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdagfNlkCXKS54rDkgY6CjGNtPECsI_SZlKQ&usqp=CAU" routerLink="/profile">
    <img class="img-responsive" *ngIf="router.url == '/workspace'" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdagfNlkCXKS54rDkgY6CjGNtPECsI_SZlKQ&usqp=CAU" routerLink="/profile">
</mat-toolbar>
<div class="dev"></div>
