.logo-image {
    height: 83px;
}

.dev {
    height: 9px;
    background-color: #0F35FF;
}

mat-toolbar {
    height: 90px;
    background-color: white;
}

button {
    height: 90px;
    width: 170px;
    border-radius: 0px;
    position: absolute;
    top: 0px;
    right: -1px;
    text-size-adjust: 30px;
}
