.pageWraper {
    height: 100vh;
}

.container {
    width: 300px;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.55);
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo-image {
    height: 83px;
}

.dev {
    height: 9px;
    background-color: #0F35FF;
}

mat-toolbar {
    height: 90px;
    background-color: white;
}

.profileImg {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 27px;
    text-size-adjust: 30px;
}

.calendar {
    position: absolute;
    top: 180px;
    left: 22%;
}

.bottomCard {
    position: absolute;
    top: 250px;
    left: 15%;
    width: 700px;
    height: 150px;
}

.PageTitle {
    font-size: 54px;
}

.title {
    position: absolute;
    top: 60px;
    left: 22%;
}

.bottomCard2 {
    position: absolute;
    top: 250px;
    left: 65%;
    width: 250px;
    height: 150px;
}

#container {
    visibility: hidden;
}

#loader {
    color: #008cff;
    height: 80px;
    width: 30%;
    position: absolute;
    top: 45%;
    left: 45%;
}

#element {
    display: block;
    height: 350px;
}

#wrapper {
    width: 250px;
    margin: 0 auto;
}

#date_label {
    /* csslint ignore:start */
    display: block;
    width: 248px;
    color: rgba(0, 0, 0, 0.58);
    margin-left: 5px;
    /* csslint ignore:end */
}

.e-highlightweekend {
    background-color: #cfe9f3;
}

.tabs {
    position: absolute;
    top: 130px;
    left: 11%;
    width: 88%;
    height: 150vh;
}

.tabsSet {
    position: absolute;
    top: 130px;
    left: 11%;
    width: 88%;
    margin-bottom: 48px;
    height: 80%;
}

.projectBtn {}

table {
    width: 90%;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-display-1 {
    position: relative;
    left: 40%;
}

.mat-display-2 {
    position: relative;
    left: 23%;
    top: 80px;
}
