<div class="container ">
  <div class="col-md-8" visibility="hidden">
    <image-cropper 
      [imageChangedEvent]="imgChangeEvt" 
      [maintainAspectRatio]="true" 
      [aspectRatio]="4 / 4"
      [resizeToWidth]="256" 
      format="png" 
      (imageCropped)="cropImg($event)" 
      (imageLoaded)="imgLoad()"
      (cropperReady)="initCropper()" 
      (loadImageFailed)="imgFailed()">
    </image-cropper>
    
  </div>
  

<br>
<br>

  
  <mat-card class="profile">
    
    <div class="col-md-12">
      <input type="file" (change)="onFileChange($event)" />
    </div>
      
    <div class="col-md-4">
      <img [src]="cropImgPreview" />
    </div>
   
   
    
  <mat-label class="Basic">Basic Information</mat-label>
  <mat-label class="b">
    Name:
    <br>
    <br>
    Department:
    <br>
    <br>
    Faculty:

  </mat-label>
 
    
  
  <mat-divider class="d1"></mat-divider>
  
  <mat-label class="contact">Contact Information</mat-label>
  <mat-label class="c"  >
    User id: 
    <br>
    <br>
    Email:
    
  </mat-label>
  
  <mat-divider class="d2"></mat-divider>
  <mat-label class="project">Project Information</mat-label>
  <mat-label class="p">
    Project Name:
    <br>
    <br>
    Description:
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    Start Date:
    <br>
    <br>
    End Date:

  </mat-label>
</mat-card>
<button mat-raised-button  class="edit" routerLink="edit" routerLinkActive="active">Edit Information</button>
<button mat-raised-button  class="log" routerLink="researchtools" routerLinkActive="active">logout</button>

<li *ngIf = "userIsAuthenticated">  
  <button mat-button (click)= "onLogout()" class="logout">Logout</button>  
</li>







