mat-card{
  position: absolute;
width: 704px;
height: 935px;
left: 373px;
top: 19px;
margin-left: 400px;
background: #F5F5F5;
border-radius: 15px;

}
.Basic{
  position: absolute;
width: 275px;
height: 24px;
left: 220px;
top: 27px;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 25px;
line-height: 24px;
color: #000000;

}
.d1{
  position: absolute;

height: 0px;
left: 10px;
top: 236px;
margin-top: 100px;
border: 1px solid #6699FF;
transform: rotate(-0.22deg);
}
.contact{
  position: absolute;
width: 300px;
height: 24px;
left:  220px;
top: 256px;
margin-top: 100px;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 25px;
line-height: 24px;

color: #000000;
}
.d2{
  position: absolute;
width: 0.01px;
height: 0px;
left: 29px;
top: 485px;
margin-top: 130px;

border: 1px solid #6699FF;
transform: rotate(0.32deg)
}
.project{
  position: absolute;
width: 291px;
height: 25px;
left:  220px;
top: 508px;
margin-top: 120px;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 25px;
line-height: 24px;
color: #000000;
}
.picture{
  position: absolute;
width: 159px;
height: 152px;
margin-right: 50px;
left: -390px;
top: 15px;
border-radius: 0px;

border-radius: 0px; 
}
.profile-img{
  border-radius: 50%;
 bottom: 270px;
  max-height: 168px;
  max-width: 168px;
  margin-right: -130px;
}
.u-img{
  margin-bottom: 300px
}

.b{
  position: absolute;
width: 241px;
height: 100px;
left: 219px;
top: 103px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 15px;

color: #808080;
}
.c{
  position: absolute;
width: 141px;
height: 94px;
left: 60px;
top: 444px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 15px;

color: #808080;
}
.p{
  position: absolute;
width: 200px;
height: 150px;
left: 61px;
top: 675px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 15px;

color: #808080;

}
mat-menu{
  max-width: 20px;
}
.mat-divider{
  max-width: 650px;
  margin-left: 40px;
}
.profile{
  margin-top: 100px;
}
mat-menu{
  position: absolute;
width: 361px;
height: 421px;
left: 2px;
top: -28px;

background: #FFFFFF;
}
.edit{
  top: 1100px;
  left: 993px;
  position: absolute;
  width: 223px;
height: 37px;
font-size: 16px;
font-weight: bolder;
background: rgba(102, 153, 255, 0.27);
border-radius: 15px;
}
.password{
  position: absolute;
width: 223px;
height: 37px;
left: 1260px;
top: 1100px;
font-size: 16px;
background: rgba(102, 153, 255, 0.28);
border-radius: 15px;
font-weight: bolder;
}

.saveimg{
  margin-right: 900px;
}






