<mat-card class="profile">
  <mat-label class="Basic">Basic Information</mat-label>
  <mat-label class="b">
    Name:
    <br>
    <br>
    Department:
    <br>
    <br>
    Faculty:

  </mat-label>
  <mat-card class="picture">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <input id="imageUpload" type="file" 
       name="profile_photo" placeholder="Photo" required="" capture>
  </mat-card>
  <mat-divider class="d1"></mat-divider>
  <img src="https://flyclipart.com/thumb2/user-icon-png-pnglogocom-133466.png" alt="pp">
  <mat-label class="contact">Contact Information</mat-label>
  <mat-label class="c">
    User id:
    <br>
    <br>
    Email:
    
  </mat-label>
  <mat-divider class="d2"></mat-divider>
  <mat-label class="project">Project Information</mat-label>
  <mat-label class="p">
    Project Name:
    <br>
    <br>
    Description:
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    Start Date:
    <br>
    <br>
    End Date:

  </mat-label>
</mat-card>
<button mat-raised-button class= "edit">Edit Information</button>
<button mat-raised-button class= "password">Change Password</button>

<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item >
    <mat-icon>description</mat-icon>
    <span>Project</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Workspace</span>
  </button>
  <button mat-menu-item >
    <mat-icon>pan_tool</mat-icon>
    <span>Research Tools</span>
  </button>
  <button mat-menu-item >
    <mat-icon>chat</mat-icon>
    <span>Chatbox</span>
  </button>
  <button mat-menu-item >
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </button>
</mat-menu>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>






<footer class="footer">
  <div class="devider"></div>
  <mat-toolbar>
      <div class="container1">
          <div class="row">
              <div class="footer-col">
                  <h4>follow us</h4>
                  <div class="social-links">
                      <a href="#"><i class="fa fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-github"></i></a>
                  </div>
                  <ul>
                      <li>
                          <a routerLink="" style="visibility:hidden;">syfyf</a>
                      </li>
                      <li>
                          <a routerLink="" style="visibility:hidden;">dummytext</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="container2">
          <div class="row">
              <div class="footer-col">
                  <h4>company</h4>
                  <ul>
                      <li><a routerLink="/aboutus">About us</a></li>
                      <li><a routerLink="/contactus">Contact us</a></li>
                      <li><a href="#">privacy policy</a></li>
                  </ul>
              </div>
          </div>
      </div>


      <div class="container3">
          <div class="row">
              <div class="footer-col">
                  <h4>get help</h4>
                  <ul>
                      <li><a routerLink="">Get started</a></li>
                      <li><a routerLink="">Help</a></li>
                      <li>
                          <a routerLink="" style="visibility:hidden;">dummy</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="container4">
          <div class="row">
              <div class="footer-col">
                  <h4>Information for</h4>
                  <ul>
                      <li> <a href="https://www.tut.ac.za/alumni-tut/about">Alumni</a></li>
                      <li><a href="https://www.tut.ac.za/bursaries-and-loans/about">Bursaries and Loans</a></li>
                      <li>
                          <a routerLink="" style="visibility:hidden;">dummy</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>

  </mat-toolbar>
</footer>