mat-card{
  position: absolute;
width: 704px;
height: 935px;
left: 373px;
top: 19px;
margin-left: 400px;
background: #F5F5F5;
border-radius: 15px;

}
.Basic{
  position: absolute;
width: 275px;
height: 24px;
left: 220px;
top: 27px;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 25px;
line-height: 24px;
color: #000000;

}
.d1{
  position: absolute;

height: 0px;
left: 10px;
top: 236px;
margin-top: 100px;
border: 1px solid #6699FF;
transform: rotate(-0.22deg);
}
.contact{
  position: absolute;
width: 300px;
height: 24px;
left:  220px;
top: 256px;
margin-top: 100px;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 25px;
line-height: 24px;

color: #000000;
}
.d2{
  position: absolute;
width: 0.01px;
height: 0px;
left: 29px;
top: 485px;
margin-top: 130px;

border: 1px solid #6699FF;
transform: rotate(0.32deg)
}
.project{
  position: absolute;
width: 291px;
height: 25px;
left:  220px;
top: 508px;
margin-top: 120px;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 25px;
line-height: 24px;
color: #000000;
}
.picture{
  position: absolute;
width: 159px;
height: 152px;
margin-right: 50px;
left: -390px;
top: 15px;
border-radius: 0px;

border-radius: 0px; 
}
img{
  position: absolute;
  width: 189px;
  height: 162px;
  margin-right: 50px;
  left: 10px;
  top: 5px;
  border-radius: 0px;
  border-radius: 0px; 
  background: transparent;
}

.b{
  position: absolute;
width: 241px;
height: 100px;
left: 219px;
top: 103px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 15px;

color: #808080;
}
.c{
  position: absolute;
width: 141px;
height: 94px;
left: 60px;
top: 444px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 15px;

color: #808080;
}
.p{
  position: absolute;
width: 200px;
height: 150px;
left: 61px;
top: 675px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 15px;

color: #808080;

}
mat-menu{
  max-width: 20px;
}
.mat-divider{
  max-width: 650px;
  margin-left: 40px;
}
.profile{
  margin-top: 80px;
}
mat-menu{
  position: absolute;
width: 361px;
height: 421px;
left: 2px;
top: -28px;

background: #FFFFFF;
}
.edit{
  top: 1100px;
  left: 793px;
  position: absolute;
  width: 223px;
height: 37px;
font-size: 16px;
font-weight: bolder;
background: rgba(102, 153, 255, 0.27);
border-radius: 15px;
}
.password{
  position: absolute;
width: 223px;
height: 37px;
left: 1260px;
top: 1100px;
font-size: 16px;
background: rgba(102, 153, 255, 0.28);
border-radius: 15px;
font-weight: bolder;
}















mat-toolbar {
  height: 250px;
  background-color: black;
  color: white;
}

.devider {
  height: 9px;
  background-color: #0F35FF;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

* {
  margin-top: auto;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100px;
  margin-top: auto;
}

.container1 {
  position: absolute;
  left: 230px;
  max-width: 100px;
  margin: auto;
}

.container2 {
  position: absolute;
  left: 460px;
  max-width: 100px;
  margin: auto;
}

.container3 {
  position: absolute;
  left: 700px;
  max-width: 100px;
  margin: auto;
}

.container4 {
  position: absolute;
  left: 900px;
  max-width: 100px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer-col {
  width: 15%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}


/*responsive*/

@media(max-width: 767px) {
  .footer-col {
      width: 50%;
      margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
      width: 100%;
  }
}

.footer {
  margin-top: auto;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

//Social Media
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

body {
  background: #261011;
  color: #e68a64;
  margin: 0 auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 187.5%;
  letter-spacing: 0.01em;
}


/*--------------------------------------------------------------
10. Social
--------------------------------------------------------------*/

.basr-social-share {
  position: fixed;
  top: 3em;
  left: 0;
  right: 0;
  width: 25%;
  display: block;
  text-align: center;
  padding: 0 auto;
  margin: 5em auto;
}

.social ul {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

.social ul li {
  border: 5px solid #512e12;
  border-radius: 50%;
  float: left;
  position: relative;
  width: 60px;
  height: 60px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 480px) {
  .social ul li {
      border-width: 4px;
      width: 45px;
      height: 45px;
  }
}

.social ul li:not(:last-child) {
  margin-right: 10px;
}

.social ul li:before {
  content: '';
  border-radius: 50%;
  -webkit-shadow: inset 0 0px 3px rgba(149, 90, 42, 0.28), 0px 0px 0px 2px rgba(149, 90, 42, 0.28);
  -ms-box-shadow: inset 0 0px 3px rgba(149, 90, 42, 0.28), 0px 0px 0px 2px rgba(149, 90, 42, 0.28);
  box-shadow: inset 0 0px 3px rgba(149, 90, 42, 0.28), 0px 0px 0px 2px rgba(149, 90, 42, 0.28);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  opacity: 0.35;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 480px) {
  .social ul li:before {
      width: 43px;
      height: 43px;
  }
}

.social ul li:hover {
  border-color: #a33629;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social ul li:hover:before {
  -webkit-shadow: inset 0 0px 3px rgba(163, 54, 41, 0.28), 0px 0px 0px 2px rgba(163, 54, 41, 0.28);
  -ms-box-shadow: inset 0 0px 3px rgba(163, 54, 41, 0.28), 0px 0px 0px 2px rgba(163, 54, 41, 0.28);
  box-shadow: inset 0 0px 3px rgba(163, 54, 41, 0.28), 0px 0px 0px 2px rgba(163, 54, 41, 0.28);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social ul li:hover i {
  color: #d66557;
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #a33629;
  -webkit-fill-color: #a33629;
  text-shadow: 1px 0px 20px #a33629;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social ul li a {
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

@media only screen and (max-width: 480px) {
  .social ul li a {
      background-size: cover;
      top: -5px;
      left: -5px;
      width: 45px;
      height: 45px;
      line-height: 45px;
  }
}

.social ul li a:before {
  content: '';
  background-image: url('https://img.picload.org/image/dcocwcga/border-social-hover.png');
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 46px;
  height: 45px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 480px) {
  .social ul li a:before {
      background-size: cover;
      width: 30px;
      height: 30px;
  }
}

.social ul li a:after {
  content: '';
  background-image: url('https://img.picload.org/image/dcocwcgd/border-social.png');
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 46px;
  height: 45px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 480px) {
  .social ul li a:after {
      background-size: cover;
      width: 30px;
      height: 30px;
  }
}

.social ul li a:hover:before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
  -ms-transform: translate(-50%, -50%) rotate(360deg);
  transform: translate(-50%, -50%) rotate(360deg);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social ul li a:hover:after {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
  -ms-transform: translate(-50%, -50%) rotate(360deg);
  transform: translate(-50%, -50%) rotate(360deg);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social ul li a i {
  color: #ffead3;
  font-size: 23px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #ffead3;
  -webkit-fill-color: #ffead3;
  text-shadow: 1px 0px 20px #ffead3;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 480px) {
  .social ul li a i {
      font-size: 16px;
  }
}

.social ul li a i.fa-envelope {
  font-size: 14px;
  top: 48%;
}

.k2t-footer.dark-style .social li a,
.dark-style .social li a {
  color: #fff;
}

.k2t-footer.dark-style .social li a:hover,
.dark-style .social li a:hover {
  color: #fff;
}

.basr-social-share.social li:hover a {
  color: #898989;
}

.basr-social-share.social li a {
  border-width: 0;
  color: #cccccc;
}

.basr-social-share.social li a:hover {
  color: #898989;
}

.basr-social-share.social li a span {
  display: none;
}

.socialMedia {
  position: absolute;
  top: 50%;
  left: 10%;
}