<div *ngIf="ChangingImage" class="saveimg" >
  <input type="file" (change)="fileChangeEvent($event)" />

<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="png"
    (imageCropped)="imageCropped($event)"
    
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>

<img [src]="croppedImage" />
<button md-button type="button" (click)="saveNewImage()" class = "u-img">Save</button>
</div>
<mat-card class="profile">
  
  <mat-label class="Basic">Basic Information</mat-label>
  <mat-label class="b">
    Name:
    <br>
    <br>
    Department:
    <br>
    <br>
    Faculty:

  </mat-label>
 
    <img
    fxFlex="128px"
    [src]="data && data.image ? data.image: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcgNY4pYkj6KPV2TbqsBw3lYZ9mwkbx_XwjnYSsXunpnLwD1XFXi2Iuf5_zD-u9xsa14c&usqp=CAU'"
    class="profile-img">
    <button md-button type="button" (click)="ChangingImageclick()" class = "u-img">Upload picture</button>
    
  
  <mat-divider class="d1"></mat-divider>
  
  <mat-label class="contact">Contact Information</mat-label>
  <mat-label class="c" *ngFor="let student for student" >
    User id: <p>{{student.userid}}</p>
    <br>
    <br>
    Email:<p>{{student.email}}</p>
    
  </mat-label>
  
  <mat-divider class="d2"></mat-divider>
  <mat-label class="project">Project Information</mat-label>
  <mat-label class="p">
    Project Name:
    <br>
    <br>
    Description:
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    Start Date:
    <br>
    <br>
    End Date:

  </mat-label>
</mat-card>
<button mat-raised-button  class="edit" routerLink="edit" routerLinkActive="active">Edit Information</button>

<li *ngIf = "userIsAuthenticated">  
  <button mat-button (click)= "onLogout()" class="logout">Logout</button>  
</li>  



