<router-outlet></router-outlet>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="pageWraper">
    <div class="mat-display-2">Projects</div>

    <mat-sidenav class="container" opened="true">
        <mat-nav-list routerLink="/dashboard">
            <a mat-list-item>
                <span> <mat-icon class="homeIcon">home</mat-icon></span>Home</a>
            <mat-divider></mat-divider>

            <div style="background-color: rgb(225, 225, 225);">
                <a mat-list-item>
                    <mat-icon> attach_file</mat-icon>
                    Projects</a>
                <mat-divider></mat-divider>
            </div>
            <a mat-list-item>
                <mat-icon>work</mat-icon>Workspace</a>
            <mat-divider></mat-divider>
            <a mat-list-item>
                <mat-icon>extension</mat-icon>Research tools</a>
            <mat-divider></mat-divider>
            <a mat-list-item>

                <mat-icon> chat</mat-icon>Chatbox</a>
            <mat-divider></mat-divider>

        </mat-nav-list>
    </mat-sidenav>

    <div class="tabs">
        <mat-tab-group class="tabsSet">
            <mat-tab label="Overview" flex layout="column" layout-fill class="tabsSet">
                <div>

                </div>
                <br/>
                <!--Table end-->
            </mat-tab>


            <mat-tab label="Projects">
                <br/>
                <button mat-raised-button color="primary" class="projectBtn" (click)="openDialog('')">New Project+</button>
                <br/>
                <br/>

                <div class="mat-display-1"><b>Current Projects</b></div>


                <br/> </mat-tab>
            <mat-tab label="Notes"> Content 3 </mat-tab>
            <mat-tab label="Guidelines"> Content 3 </mat-tab>
        </mat-tab-group>
    </div>
</div>