<mat-toolbar class="header">
    <a class="navbar-brand" href="">
        <div class="logo-image">
            <img src="https://www.defsa.org.za/sites/default/files/styles/thumb_square_180/public/logos/Tshwane_University_of_Technology_Logo.png?itok=iRCY2ZOI" class="img-fluid">
        </div>
    </a>
    <button mat-raised-button color="warn" routerLink="/login">Sign in</button>
  </mat-toolbar>
  <div class="dev"></div>
  
 

  
<router-outlet></router-outlet>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>











<footer class="footer">
  <div class="devider"></div>
  <mat-toolbar>
      <div class="container1">
          <div class="row">
              <div class="footer-col">
                  <h4>follow us</h4>
                  <div class="social-links">
                      <a href="#"><i class="fa fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-github"></i></a>
                  </div>
                  <ul>
                      <li>
                          <a routerLink="" style="visibility:hidden;">syfyf</a>
                      </li>
                      <li>
                          <a routerLink="" style="visibility:hidden;">dummytext</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="container2">
          <div class="row">
              <div class="footer-col">
                  <h4>company</h4>
                  <ul>
                      <li><a routerLink="/aboutus">About us</a></li>
                      <li><a routerLink="/contactus">Contact us</a></li>
                      <li><a href="#">privacy policy</a></li>
                  </ul>
              </div>
          </div>
      </div>


      <div class="container3">
          <div class="row">
              <div class="footer-col">
                  <h4>get help</h4>
                  <ul>
                      <li><a routerLink="">Get started</a></li>
                      <li><a routerLink="">Help</a></li>
                      <li>
                          <a routerLink="" style="visibility:hidden;">dummy</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="container4">
          <div class="row">
              <div class="footer-col">
                  <h4>Information for</h4>
                  <ul>
                      <li> <a href="https://www.tut.ac.za/alumni-tut/about">Alumni</a></li>
                      <li><a href="https://www.tut.ac.za/bursaries-and-loans/about">Bursaries and Loans</a></li>
                      <li>
                          <a routerLink="" style="visibility:hidden;">dummy</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>

  </mat-toolbar>
</footer>
