.chat1{
    background-color: rgba(128, 128, 128, 0.678);
    height: 700px;
    width: 1000px;
    left:400px;
    top: 50px;
    
}
.chat2{
    width: 300px;
    height: 650px;
    background-color: white;
}

.label1{
    font-size: 20px;
    color: white;
}
.message
{
    margin-left: 400px;
    width: 500px;
    height: 100px;
    margin-top: -750px;
   
   
 
}
.send{
    margin-left: 900px;

}