<!--<mat-card class="menu" >
    <button mat-flat-button class="home" routerLink="/admindashboard">Home</button>
    <br>
    <button mat-flat-button  class="chat">Chatbox</button>

    <br>
    <button mat-flat-button  class="studlist" routerLink="/stdl" routerLinkActive="true" >Student list</button>

</mat-card >



<mat-card class="chat1">
    <mat-label class="label1">Groups/People</mat-label>
 
    <mat-card class="chat2"></mat-card>    
    
   
    
   
</mat-card>-->


<mat-card class="menu" >
    <button mat-flat-button class="home" routerLink="/admindashboard">Home</button>
    <br>
    <button mat-flat-button  class="chat" routerLink="/chatbox" routerLinkActive="true">Chatbox</button>

    <br>
    <button mat-flat-button  class="studlist" routerLink="/stdl" routerLinkActive="true" >Student list</button>

</mat-card >

<mat-card class="con">
 
<mat-card class="head"><img class="user"src="../../assets/userdash.png" alt="Avatar">
  <label class="lebel">User123456789</label>
</mat-card>

<div class="container">
  <img src="../../assets/chats.png" alt="Avatar">
  <p>Hello. How are you today?</p>
  <span class="time-right">11:00</span>
</div>

<div class="container darker">
  <img src="../../assets/chats.png" alt="Avatar" class="right">
  <p>Hey! I'm fine. Thanks for asking!</p>
  <span class="time-left">11:01</span>
</div>

<div class="container">
  <img src="../../assets/chats.png" alt="Avatar">
  <p>Sweet! So, what do you wanna do today?</p>
  <span class="time-right">11:02</span>
</div>

<div class="container darker">
  <img src="../../assets/chats.png" alt="Avatar" class="right">
  <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
  <span class="time-left">11:05</span>
</div>
<button mat-raised-button class="send">Send</button>
<input class="input" placeholder="Type your message"  >


</mat-card>

<mat-card class="chat1">
  <button mat-raised-button class="create">Create Group</button>
  <br>
  <br>
  <u><label class="gr1">Groups</label></u>

  <br>
  <img class="u2" src="https://mpng.subpng.com/20190513/uob/kisspng-computer-icons-share-icon-connect-group-portable-n-5cd9e86d7f6c95.3978303215577846855219.jpg" alt="Avatar">
  <label class="grlabel">REASEARCH 2022</label>
 <br>
 <br>
 <u><label class="ch1">Recent Chats</label></u>
 <br>
 
</mat-card>