/*.chat1{
    background-color:whitesmoke;
    height: 900px;
    width: 1300px;
    left:450px;
    top: 50px;
    
}
.chat2{
    width: 300px;
    height: 650px;
    background-color: white;
}

.label1{
    font-size: 20px;
    color: black;
    font-weight: 900;
}
.message
{
    margin-left: 400px;
    width: 500px;
    height: 100px;
    margin-top: -750px;
   
   
 
}
.send{
    margin-left: 900px;

}
.menu{
    position: absolute;
width: 348px;
height: 953px;
left: 25px;
top: 128px;

background: #FFFFFF;
border-radius: 5px;
}
.home{
    position: absolute;
width: 380px;
height: 53px;
left: 0px;
top: 4px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 24px;
background: whitesmoke;
color:black;
}
.chat{
    position: absolute;
width: 380px;
height: 53px;
left: 0px;
top: 60px;

font-family: 'Inter';
font-style: normal;
font-weight: bolder;
font-size: 22px;
line-height: 24px;
background: whitesmoke;
color: black;

}
.studlist{
    position: absolute;
width: 380px;
height: 53px;
left: 0px;
top: 117px;
background: whitesmoke;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 24px;

color: black;
  
}*/



.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}
.con{
  width: 1000px;
  height: 900px;
  margin-left: 1100px;
  top: 40px;
  
}
.chat1{
  height: 700px;
  width: 400px;
  top: -900px;
  margin-left: 650px;
  background: rgba(245, 245, 245, 0.779);
}
.create{
  background: rgba(0, 0, 0, 0.52);
  color: white;
  width: 200px;
  font-size: medium;
  
}
.input{
  margin-top: 300px;
  height: 40px;
  width: 1000px;
  border-radius: 5px;
}
.send{
  left: 940px;
  top: 342px;
  height: 40px;
  
}
.user{
  height: 60px;
  border-radius: 50%;
}
.u1{
 
  height: 60px;
  border-radius: 50%;
  margin-left: 0px;
}
.u2{
  height: 60px;
  border-radius: 50%;
  
}
.lebel{
  margin-left: 10px;
  top: -40px;
  color: white;
  font-size: 20px;
}
.head{
  width: 1000px;
  left: -15px;
  background: rgba(0, 0, 128, 0.842);
}
.menu{
  position: absolute;
width: 348px;
height: 953px;
left: 25px;
top: 128px;

background: #FFFFFF;
border-radius: 5px;
}
.home{
  position: absolute;
width: 380px;
height: 53px;
left: 0px;
top: 4px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 24px;
background: whitesmoke;
color:black;
}
.chat{
  position: absolute;
width: 380px;
height: 53px;
left: 0px;
top: 60px;

font-family: 'Inter';
font-style: normal;
font-weight: bolder;
font-size: 22px;
line-height: 24px;
background: whitesmoke;
color: black;

}
.studlist{
  position: absolute;
width: 380px;
height: 53px;
left: 0px;
top: 117px;
background: whitesmoke;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 24px;

color: black;
}
.gr1{
  font-size: x-large;
  color: navy;
  font-weight: bold;
}
.grlabel{
  margin-left: 10px;
  margin-top: -20px;
}
.ch1{
  font-size: x-large;
  color: navy;
  font-weight: bold;
}


