<!--<mat-card class="menu" >
    <button mat-flat-button class="home" routerLink="/admindashboard">Home</button>
    <br>
    <button mat-flat-button  class="chat">Chatbox</button>

    <br>
    <button mat-flat-button  class="studlist" routerLink="/stdl" routerLinkActive="true" >Student list</button>

</mat-card >



<mat-card class="chat1">
    <mat-label class="label1">Groups/People</mat-label>
 
    <mat-card class="chat2"></mat-card>    
    
   
    
   
</mat-card>-->




<mat-card class="con">
 
<mat-card class="head"><img class="user"src="https://icons.veryicon.com/png/o/miscellaneous/vacomall-icon/i-am-a-buyer.png" alt="Avatar">
  <label class="lebel">User123456789</label>
</mat-card>
  
  <br>
  <br>
<div class="container">
  <img src="https://icons.veryicon.com/png/o/miscellaneous/vacomall-icon/i-am-a-buyer.png" alt="Avatar">
  <p>Hello. How are you today?</p>
  <span class="time-right">11:00</span>
</div>

<div class="container darker">
  <img src="https://icons.veryicon.com/png/o/miscellaneous/vacomall-icon/i-am-a-buyer.png" alt="Avatar" class="right">
  <p>Hey! I'm fine. Thanks for asking!</p>
  <span class="time-left">11:01</span>
</div>

<div class="container">
  <img src="https://icons.veryicon.com/png/o/miscellaneous/vacomall-icon/i-am-a-buyer.png" alt="Avatar">
  <p>Sweet! So, what do you wanna do today?</p>
  <span class="time-right">11:02</span>
</div>

<div class="container darker">
  <img src="https://icons.veryicon.com/png/o/miscellaneous/vacomall-icon/i-am-a-buyer.png" alt="Avatar" class="right">
  <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
  <span class="time-left">11:05</span>
</div>
<button mat-raised-button class="send"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">send</mat-icon></button>
<input class="input" placeholder="Type your message"  >


</mat-card>
<mat-card class="chat">
  <button mat-raised-button class="create">Create Group</button>
</mat-card>