.search{
    
background: whitesmoke;
font-size: 16px;
}
.go{
    position: relative;
width: 46px;
height: 37px;
margin-left: -20px;
top: 30px;
background: rgba(29, 97, 159, 0.88);
border-radius: 5px;
color: white;
}
.title{
    background:rgba(79, 164, 242, 0.88);
    height: 40px;
}
.submit{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: 500; 
}
.head{
    color: whitesmoke;
}