<!--<input matInput placeholder="search for projects" formControlName="Search" class="search">
<button mat-raised-button  class="search"><mat-icon >search</mat-icon></button>
-->







<!--<br>
<br>
<form class="example-form">
<mat-form-field class="example-full-width">
<span matPrefix> </span>
<div class="search-hero">
  <input class="form-control" id="myInput" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; search by student number">
</div>
<button matSuffix mat-button><mat-icon >search</mat-icon></button>
</mat-form-field>
<br/>
{{searchText}}
</form>
<br>
<br>
<br>
<mat-card class="title">
    <br>
    <mat-label class="submit">SUBMITTED PROJECT</mat-label>
</mat-card>
<br>
<mat-card class="head"></mat-card>
<br>
<br>
<div >
<button *ngFor="let hero of dataSource | filter:searchText" mat-button [matMenuTriggerFor]="list">{{hero.stud_numb}}{{hero.name}}{{hero.stud_surn}}{{hero.stud_proj}}</button>
<br>
<br>
<mat-menu #list="matMenu">
    
  <button mat-menu-item routerLink="/viewproject" routerLinkActive="true">View project</button>
 
</mat-menu>
</div>

<br>
<br>
<br>
<br>
-->

<!--<br>
<br>
<div class="search-hero">
  <input class="form-control" id="myInput" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; search by student number">
</div>
<br>
<br>
<br>
<mat-card class="title">
  <br>
  <mat-label class="submit">SUBMITTED PROJECT</mat-label>
</mat-card>
<br>
<mat-card class="head"></mat-card>
<br>
<br>

 
    
    <div *ngFor="let item of [].constructor(1); let i = index">
      <br>
      <li>
      <button *ngFor="let hero of dataSource | filter:searchText" mat-button [matMenuTriggerFor]="list">{{dataSource[i].stud_numb}}{{dataSource[i].name}}{{dataSource[i].stud_surn}}{{dataSource[i].stud_proj}}</button>
      <br>
    </li>
      <br>
      <mat-menu #list="matMenu">
          
        <button mat-menu-item routerLink="/viewproject" routerLinkActive="true">View project</button>
       
      </mat-menu>
      </div>
   
    -->
    <mat-card class="menu" >
      <button mat-flat-button class="home" routerLink="/admindashboard">Home</button>
      <br>
      <button mat-flat-button  class="chat">Chatbox</button>
  
      <br>
      <button mat-flat-button  class="studlist" routerLink="/studentslist" routerLinkActive="true" >Student list</button>
      <br>
      
      <br>
  
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <br>
  <br>
  <br>
  <br>
  <br>
  
      
     
      
  </mat-card>
  
<br>
<br>
<br>
    <div class="search-hero">
      <input class="form-control" class="s1" id="myInput" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; search for student">
    </div>
    <br>
<br>
<br>
<mat-tab-group class="tabsSet">
  <mat-tab label="Submitted" flex layout="column" layout-fill class="tabsSet">
<mat-card class="title">
  <br>
  <mat-label class="submit">SUBMITTED PROJECT</mat-label>
</mat-card>
<br>
<mat-card class="head"></mat-card>
<br>
<br>
<mat-card class="hh">
<label class="b1">Student No.</label>
<label class="b2"> Name</label>
<label class="b3"> Surname</label>
<label class="b4">Project Title</label>
</mat-card>
<table class="table ">

     
  

<br>
  <tbody>
  <tr *ngFor="let hero of heroes | filter:searchText">
    <mat-menu #list="matMenu">

      <button mat-menu-item routerLink="/viewproject" routerLinkActive="true">View project</button>
     
    </mat-menu>
    <td><button mat-button [matMenuTriggerFor]="list">{{hero.stud_numb}}</button></td>
    <br>
    <td><button mat-button [matMenuTriggerFor]="list">{{hero.name}}</button></td>
    <br>
    <td><button mat-button [matMenuTriggerFor]="list">{{hero.stud_surn}}</button></td>
    <br>
    <td><button mat-button [matMenuTriggerFor]="list">{{hero.stud_proj}}</button></td>
    <mat-menu #list="matMenu">
          
      <button mat-menu-item routerLink="/viewproject" routerLinkActive="true">View project</button>
     
    </mat-menu>
    <br>
  </tr>
  </tbody>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr
    mat-row
    (click)="clickedRows.add(row)"
    [class.demo-row-is-clicked]="clickedRows.has(row)"
    *matRowDef="let row; columns: displayedColumns;"
></tr>
</table>
</mat-tab>
<mat-tab label="Pending Projects">
  <mat-card class="title">
    <br>
    <mat-label class="submit">PENDING PROJECT</mat-label>
  </mat-card>
  <br>
  <mat-card class="head"></mat-card>
  <br>
<br>
<mat-card class="hh">
<label class="b1">Student No.</label>
<label class="b2"> Name</label>
<label class="b3"> Surname</label>
<label class="b4">Project Title</label>
</mat-card>
<table class="table ">
  <br>
  <tbody>
  <tr *ngFor="let hero of heroes | filter:searchText">
    <mat-menu #list="matMenu">

      <button mat-menu-item routerLink="/viewproject" routerLinkActive="true">View project</button>
     
    </mat-menu>
    <td><button mat-button [matMenuTriggerFor]="list">{{hero.stud_numb}}</button></td>
    <br>
    <td><button mat-button [matMenuTriggerFor]="list">{{hero.name}}</button></td>
    <br>
    <td><button mat-button [matMenuTriggerFor]="list">{{hero.stud_surn}}</button></td>
    <br>
    <td><button mat-button [matMenuTriggerFor]="list">{{hero.stud_proj}}</button></td>
    <mat-menu #list="matMenu">
          
      <button mat-menu-item routerLink="/viewproject" routerLinkActive="true">View project</button>
     
    </mat-menu>
    <br>
  </tr>
  </tbody>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr
    mat-row
    (click)="clickedRows.add(row)"
    [class.demo-row-is-clicked]="clickedRows.has(row)"
    *matRowDef="let row; columns: displayedColumns;"
></tr>
</table>

</mat-tab>
</mat-tab-group>



