<!--<input matInput placeholder="search for projects" formControlName="Search" class="search">
<button mat-raised-button  class="search"><mat-icon >search</mat-icon></button>
-->







<br>
<br>
<form class="example-form">
<mat-form-field class="example-full-width">
<span matPrefix> </span>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by student no..">
<button matSuffix mat-button><mat-icon >search</mat-icon></button>
</mat-form-field>
<br/>
{{searchText}}
</form>
<br>
<br>
<br>
<mat-card class="title">
    <br>
    <mat-label class="submit">SUBMITTED PROJECT</mat-label>
</mat-card>
<br>
<mat-card class="head"></mat-card>
<br>
<br>
<div *ngFor="let item of [].constructor(10); let i = index">
<button mat-button [matMenuTriggerFor]="list">{{dataSource[i].stud_numb}}{{dataSource[i].name}}{{dataSource[i].stud_surn}}{{dataSource[i].stud_proj}}</button>
<br>
<br>
<mat-menu #list="matMenu">
    
  <button mat-menu-item routerLink="/viewproject" routerLinkActive="true">View project</button>
 
</mat-menu>
</div>



