mat-form-field {
    width: 100%;
    cbackground: rgba(51, 119, 212, 1);
}

button {
    float: right;
    width: 30%;
    background: linear-gradient(95.39deg, #F5002F -40.45%, rgba(255, 179, 0, 0.49) 170.68%);
    color: white;
}

mat-card {
    position: relative;
    width: 50%;
    left: 25%;
    top: 35%;
    height: 400px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.55);
}

mat-icon {
    color: black;
    float: centre;
    position: absolute;
}

.mat-display-2 {
    font-family: cursive;
    font-size: 36px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(0, 85, 201, 0.8);
    left: 327px;
}

.dev {
    height: 9px;
    background-color: #0F35FF;
}

.material-icons {
    position: absolute;
    left: 50%;
    //box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.mat-display-3 {
    font-family: 'Inter';
    font-style: normal;
    color: #0F35FF;
    opacity: 0.7;
    position: absolute;
    top: 38%;
    left: 44%;
}

img {
    height: 90px;
    width: 90px;
    display: block;
    position: Absolute;
    bottom: 340px;
    left: -1%;
    margin-top: 20px;
    padding-right: 100px;
    margin-left: 400px;
}

.container {
    width: 300px;
    height: 80vh;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.55);
}

.logo-image {
    height: 83px;
}

.dev {
    height: 9px;
    background-color: #0F35FF;
}

mat-toolbar {
    height: 90px;
    background-color: white;
}

.profileImg {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 27px;
    text-size-adjust: 30px;
}

.calendar {
    width: 50%;
    position: absolute;
    top: 180px;
    left: 22%;
}

.bottomCard {
    position: absolute;
    top: 220px;
    left: 65%;
    width: 250px;
    height: 150px;
}

.PageTitle {
    font-size: 54px;
}

.title {
    position: absolute;
    top: 60px;
    left: 22%;
}

.bottomCard2 {
    position: absolute;
    top: 120px;
    left: 65%;
    width: 250px;
    height: 150px;
}

#container {
    visibility: hidden;
}

#loader {
    color: #008cff;
    height: 80px;
    width: 30%;
    position: absolute;
    top: 45%;
    left: 45%;
}

#element {
    display: block;
    height: 350px;
}

#wrapper {
    width: 250px;
    margin: 0 auto;
}

#date_label {
    /* csslint ignore:start */
    display: block;
    width: 248px;
    color: rgba(0, 0, 0, 0.58);
    margin-left: 5px;
    /* csslint ignore:end */
}

.e-highlightweekend {
    background-color: #cfe9f3;
}

.logo-image {
    height: 83px;
}

.dev {
    height: 9px;
    background-color: #0F35FF;
}

mat-toolbar {
    height: 90px;
    background-color: white;
}

.signinButton {
    height: 90px;
    width: 170px;
    border-radius: 0px;
    position: absolute;
    top: 0px;
    right: -0px;
    text-size-adjust: 30px;
}
