<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="mat-display-3">Sign in</div>
<mat-card>

    <form #logindata="ngForm" (ngSubmit)="login(logindata.value)" novalidate>
        <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdagfNlkCXKS54rDkgY6CjGNtPECsI_SZlKQ&usqp=CAU">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput required #userId="ngModel" placeholder="21890086" name="userId" ngModel [class.is-invalid]="userId.invalid && userId.touched">
        </mat-form-field>
        <!--field for password-->
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Minimum 7 characters" name="password" ngModel>
            <br/>

        </mat-form-field>
        <div>Don't have an account?<a routerLink="/signup">Sign Up</a></div>
        <br/>
        <div>Forgot your password?<a href="">Reset Password</a></div>
     
        <button color="Red" routerLink="/admindashboard" mat-raised-button type="submit"><span>Submit</span></button>
    </form>
</mat-card>

