.container{
    background: white;
}
table, th , td {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-collapse: collapse;
    padding: 5px;
  }
  
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  .studtable{
    width: 1200px;
  }
  .demo-row-is-clicked {
    font-weight: bold;
  }
  .th:hover .td {
    border-color: currentColor;
  }
  .demo-table {
    width: 100%;
  }
  
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }
  .home{
    position: absolute;
  width: 380px;
  height: 53px;
  left: 0px;
  top: 4px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  background: whitesmoke;
  color:black;
  }
  .chat{
    position: absolute;
  width: 380px;
  height: 53px;
  left: 0px;
  top: 60px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: bolder;
  font-size: 22px;
  line-height: 24px;
  background: whitesmoke;
  color: black;
  
  }
  .studlist{
    position: absolute;
  width: 380px;
  height: 53px;
  left: 0px;
  top: 117px;
  background: whitesmoke;
  font-family: '';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  
  color: black;
  
  }
  .des{
    left: 500px;
  }
  .menu{
    position: absolute;
width: 348px;
height: 1253px;
left: 25px;
top: 118px;
  }
.studtable{
  margin-left: 500px;
  margin-top: 60px;
}
th{
  font-size: 17px;
  font-weight: 600;
}
 
 