.container{
    background: white;
}
table, th , td {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-collapse: collapse;
    padding: 5px;
  }
  
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  .studtable{
    width: 1200px;
  }
  .demo-row-is-clicked {
    font-weight: bold;
  }
  .th:hover .td {
    border-color: currentColor;
  }
  .demo-table {
    width: 100%;
  }
  
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }
 
 