<app-carousel [images]="images" [autoSlide]="true">

</app-carousel>
<p class="landText">Looking to do your research?</p>
<p class="landText2">...you're at the right place.</p>
<button mat-raised-button color="warn" routerLink="/signup">Sign Up</button>
<div class="cardsWrapper">

    <mat-card class="mat1"><img class="cardImg1" src="../../assets/images/292393406_5246543968755039_5947110489787451877_n.jpg">
        <p class="card1Title">How does it work?</p>
        <p class="paragraph1">This research assistant system aims helps PG students carry out their research and conduct PG supervision</p>
    </mat-card>


    <mat-card class="mat2"><img class="cardImg1" src="../../assets/images/towfiqu-barbhuiya-oZuBNC-6E2s-unsplash.jpg">
        <p class="card2Title">Is this system only for all faculties?</p>
        <p class="paragraph2">Yes, this system is meant to be used by every TUT PG students regardless of their faculty.</p>
    </mat-card>

    <mat-card class="mat3"><img class="cardImg1" src="../../assets/images/tn_Sciences (2).jpg">
        <p class="card3Title">How does it work?</p>
        <p class="paragraph3">This research assistant system aims helps PG students carry out their research and conduct PG supervision</p>
    </mat-card>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
