<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="mat-display-3">Sign up</div>
<mat-card>

    <form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
        <img class="img-responsive" src="https://cdn0.iconfinder.com/data/icons/thin-line-2/4/03-512.png">
        <br/>
        <br/>
        <br/>
        <br/>
        <!--field form studentNo-->
        <mat-form-field>
            <mat-label>Student No</mat-label>
            <input matInput placeholder="Enter your name" formControlName="studNumber" placeholder="21890086">
        </mat-form-field>

        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter your name" formControlName="firstName" placeholder="Ex. John">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Enter your name" formControlName="lastName" placeholder="Ex. Nkosi">
        </mat-form-field>

        <!--field for email-->
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your name" formControlName="email" placeholder="Ex. jnkosi@outlook.com">
        </mat-form-field>
        <!--field for password-->
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter your name" formControlName="password" placeholder="Minimum 7 characters">
            <br/>

        </mat-form-field>
        <mat-form-field>
            <mat-label>Department</mat-label>
            <input matInput placeholder="Enter your name" formControlName="department" placeholder="Ex. Humanities">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Faculty</mat-label>
            <input matInput placeholder="Enter your name" formControlName="faculty" placeholder="Ex. Law">
        </mat-form-field>
        <div>Already have an account?<a routerLink="/login">Sign In</a></div>
        <button color="Red" [disabled]="!signupForm.valid" mat-raised-button type="submit"><span>Submit</span></button>
    </form>
</mat-card>