<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="mat-display-3">Sign up</div>
<mat-card>

    <form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>

        <br/>
        <br/>
        <img class="img-responsive" src="https://cdn5.vectorstock.com/i/1000x1000/41/79/blue-linear-outline-add-person-icon-add-user-icon-vector-29004179.jpg">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter your name" formControlName="name">
        </mat-form-field>
        <!--field form studentNo-->
        <mat-form-field>
            <mat-label>Student No</mat-label>
            <input matInput placeholder="Enter your name" formControlName="studentNo">
        </mat-form-field>
        <!--field for email-->
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your name" formControlName="email">
        </mat-form-field>
        <!--field for password-->
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter your name" formControlName="password">
            <br/>

        </mat-form-field>
        <div>Already have an account?<a routerLink="/login">Sign In</a></div>
        <button color="Red" [disabled]="!signupForm.valid" mat-raised-button type="submit"><span>Submit</span></button>
    </form>
</mat-card>
