<mat-card class="menu" >
    <button mat-flat-button class="home" routerLink="/admindashboard">Home</button>
    <br>
    <button mat-flat-button  class="chat">Chatbox</button>

    <br>
    <button mat-flat-button  class="studlist" routerLink="/studentslist" routerLinkActive="true" >Student list</button>
    <br>
    
    <br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--<img class="penpic" src="https://www.kindpng.com/picc/m/74-743908_lined-pages-paper-stacked-transparent-stack-paper-icon.png" alt="prof">-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--<img class= "projpic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpo6yVbdJ8wtlduigs8YEoOfB_NIoge5SSGA&usqp=CAU" alt="picture">-->
<br>
<br>
<br>
<br>
<br>


    
   
    
</mat-card >
-->
<mat-card class="fff">
  
    
    <img class="user" routerLink="/login" routerLinkActive="true" src="https://www.nicepng.com/png/detail/128-1280406_view-user-icon-png-user-circle-icon-png.png" alt="profile">
    <br>
   
    
    <mat-card class="ff1">
        <mat-card class="box1"  >
            <label class="stud">Announcements</label>
            <div> <a routerLink="" class="file"> </a></div>
            
           <label *ngFor="let announcement of readData"></label>
           <label *ngFor="let announcement of readData"> {{announcement.createdAt}}</label>
           <label *ngFor="let announcement of readData">{{announcement.id}}</label>
        
           
                   
                  
                 
                    
                  
                
            
        
        </mat-card>
        <mat-card class="procard">
            <label class="sub">Submitted Projects</label>
            <label class="pending">Pending Projects</label>
       <mat-card class="box2">
<br>


            <!--<div *ngFor="let item of [].constructor(10); let i = index">
                <label class="projj" href="/submitted">{{dataSource[i].proj_name}}
                    <br>
                </label>
            
             </div>-->
        
            <button class="view" routerLink="/submitted" routerLinkActive="true">View more</button>
        </mat-card>
       
    </mat-card>
        <mat-card class="box3">

        </mat-card>
        <mat-card class="box4"></mat-card>
    </mat-card>








<!--<mat-card class="head">
    <label class="proj">Projects to be Supervised</label>
   
   
   <label class="afew">A few students have shared their progress on their projects. 
    <br>
    waiting for your feedback.</label>

    <button class="learn">Learn more</button>

</mat-card>
<mat-card class="box1">
    <label class="stud">Announcements</label>
    <div> <a routerLink="" class="file"> Proposal Submission</a></div>
    <label class="ann1"> Students proposals submission is about to be due at 12:00  11/10/2022, 
        <br>
        a few students have submitted their proposals already.
        <br>
        <br>
        <div> <a routerLink="" class="file"> Students project progress</a></div>
        In publishing and graphic design, Lorem ipsum is a placeholder text
        <br>
         commonly used to demonstrate the visual form of a document  or a 
         <br>
         typeface without relying on meaningful content. Lorem ipsum may be
        <br>
        <br>
        <div> <a routerLink="" class="file"> Scheduled meetings</a></div>
        The following are todays meetings with their links:
        
        <br>
        <br>
        Student Proposal meeting 12:00  11/10/2022
    </label>

</mat-card>
<label class="sub">Submissions</label>
<mat-card class="box2">


    <div *ngFor="let item of [].constructor(10); let i = index">
        <label class="projj" href="/submitted">{{dataSource[i].proj_name}}
            <br>
        </label>
    
     </div>

    <button class="view" routerLink="/submitted" routerLinkActive="true">View more</button>
</mat-card>
<label></label>
<label class="pending">Pending Projects</label>
-->
</mat-card>
