<mat-card class="menu">
    <label class="home">Home</label>
    <br>
    <label class="chat">Chatbox</label>

    <br>
    <label class="studlist">Students list</label>
    <br>
    <br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<img class="penpic" src="https://www.kindpng.com/picc/m/74-743908_lined-pages-paper-stacked-transparent-stack-paper-icon.png" alt="prof">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<img class= "projpic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpo6yVbdJ8wtlduigs8YEoOfB_NIoge5SSGA&usqp=CAU" alt="picture">
<br>
<br>
<br>
<br>
<br>

    
   
    
</mat-card>
<mat-card class="head">
    <label class="proj">Projects to be Supervised</label>
   <img src="https://www.nicepng.com/png/detail/128-1280406_view-user-icon-png-user-circle-icon-png.png" alt="profile">
   <label class="welcome">Welcome Siphesihle Malinga</label>
   <label class="afew">A few students have shared their progress on their projects. 
    <br>
    waiting for your feedback.</label>

    <button class="learn">Learn more</button>

</mat-card>
<mat-card class="box1">
    <label class="stud">Students average score</label>
    <img class="chart1" src="https://www.kindpng.com/picc/m/268-2684156_icon-bar-graph-bar-chart-icon-png-transparent.png" alt="pngg">

</mat-card>
<label class="sub">Submissions</label>
<mat-card class="box2">
    <img class="chart2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARYAAAC1CAMAAACtbCCJAAAAPFBMVEX39/cAAAD////6+vpqamqtra08PDzw8PC8vLwICAj5+fnn5+fOzs7U1NTt7e3Kysqnp6cjIyMZGRlvb2/uO/mYAAAB/0lEQVR4nO3c0WrUUBRA0Y5jHU21M+r//6ugtQyyYy8lMem41lNebjjZEAgkN3d3AAAAv01Ptp5jp3S5crwcfvn6butR9uR4/5TlgyxXZEmyJFmSLEmWJEuSJcmSZEmyJFmSLGk+yzRkk6HXN5/lccTpRrvMZZlOhxEfjxvNvTJZ0nyWT7LI8gdZkixJliRLkiXJkmRJsiRZkixJliRLkiXJkmRJsiRZkixJliRLkiXJkmRJsiRZkixJliRLkiXJkmRJsiRZkixJliRLkiXJkmRJsiRZkixJliRLkiXJkmRJsiRZkixJliRLWiHLdByx733ly2eZTufPAx533WWFLA8jCw9fdn37yZJkSbIkWZIsSZYkS5IlyZJkSbIkWZIsSZYkS5IlyZJkSbIkWZIsSZYkS5IlyZJkSbvKMvZSf60U1/aUZXoceqm/Wosre8pyPA+t/BffOsiSZEmyJFmSLEmWJEuSJcmSZEmyJFmSLEmWJEuSJcmSZEmyJFmSLEmWJEuSJcmSZEmyJFmSLEmWJEuSJcmSZEmyJFmSLEmWJEuazzI0oiyy/PQw4hQjvv53fPv5kd98lmnI388+1eFLl5WLXly1rPks/zVZkixJlnSV5SYstDftOcu37+9vwXmZLs9ZbsT9QlkuW1/Isi673jD79o09zb4VW9cEAAB25AdgWG+3vpGbqAAAAABJRU5ErkJggg==" alt="pngg">
</mat-card>
<label></label>
<label class="pending">Pending Projects</label>
